div.codexDetails div.consoleCommandListHeader
{
	width:624px;
	margin:8px;
	margin-top   :32px;
	margin-bottom:16px;
	height: initial;
	
	font-size:24px;
	height:32px;
	line-height:28px;
	font-family:sans-serif;
	
	border-bottom: 3px solid #FFF;
}

div.codexDetails div.consoleCommandListItem
{
	width: 624px;
	margin: 8px;
	margin-bottom: 0px;
	margin-top:    0px;
	height: 24px;
	overflow: hidden;
}

div.codexDetails div.consoleCommandListItem div.consoleCommandListItemToggle
{
	float:left;
	width: 15px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	font-family:icons;
	text-align:center;
	text-shadow: none;
	
	-webkit-text-stroke: 1px #000;
	-moz-text-stroke: 1px #000;
	text-stroke: 1px #000;
	
	color:#0374ed;
	
	cursor:pointer;
}

div.codexDetails div.consoleCommandListItem div.consoleCommandListItemToggle:HOVER
{
	color:#CE550B;
}

div.codexDetails div.consoleCommandListItem div.consoleCommandListItemToggle:BEFORE
{
	content:"\f04b";
}

div.codexDetails div.consoleCommandListItemExpanded
{
	margin-bottom: 16px;
	height: initial;
	border-bottom: 1px solid #FFF;
}

div.codexDetails div.consoleCommandListItemExpanded div.consoleCommandListItemToggle
{
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	transform:rotate(90deg);
}

div.codexDetails div.consoleCommandListItem div.consoleCommandListItemName
{
	font-weight: bold;
	width: 605px;
	float: left;
	margin-bottom: 2px;
	margin-left: 4px;
	font-size:16px;
	height:24px;
	line-height:24px;
	font-family:sans-serif;
	height: initial;
}

div.codexDetails div.consoleCommandListItem div.consoleCommandListItemDetails
{
	width:616px;
	margin-left:8px;
	margin-bottom:2px;
	font-size:16px;
	height:24px;
	line-height:24px;
	font-family:sans-serif;
	height: initial;
}

div.codexDetails div.consoleCommandListItem div.consoleCommandListItemSubDetails
{
	width:608px;
	margin-left:16px;
	margin-bottom:4px;
	font-size:16px;
	height:24px;
	line-height:24px;
	font-family:sans-serif;
	height: initial;
}