div.codexDetails div.craftingRecipesContainer
{
	width:656px;
	height:545px;
	overflow:hidden;
}

div.codexDetails div.craftingRecipesContainer div.craftingRecipesDemo
{
	font-family: sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 64px;
	
	width: 640px;
	height:64px;
	padding: 8px;
	overflow:hidden;
	
	background-image: -webkit-gradient(linear,left top,left bottom,from(#888),to(#666));
	background-image: -webkit-linear-gradient(#888,#666);
	background-image: -moz-linear-gradient(#888,#666);
	background-image: -ms-linear-gradient(#888,#666);
	background-image: -o-linear-gradient(#888,#666);
	background-image: linear-gradient(#888,#666);
	
	-webkit-transition: height 500ms ease-in-out;
   	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;

	border-bottom: 3px solid #222;
}

div.codexDetails div.craftingRecipesContainer div.craftingRecipesList
{
	width:656px;
	height:462px;
	overflow-x:hidden;
	overflow-y:auto;
	
	background-image: -webkit-gradient(linear,left top,left bottom,from(#888),to(#666));
	background-image: -webkit-linear-gradient(#888,#666);
	background-image: -moz-linear-gradient(#888,#666);
	background-image: -ms-linear-gradient(#888,#666);
	background-image: -o-linear-gradient(#888,#666);
	background-image: linear-gradient(#888,#666);
	
    -webkit-border-radius:0 0 0.6em 0;
	-moz-border-radius   :0 0 0.6em 0;
    border-radius        :0 0 0.6em 0;
	
	-webkit-transition: height 500ms ease-in-out;
   	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

div.codexDetails div.craftingRecipesContainer div.craftingRecipesDemo div.craftingContainer
{
	position:relative;
}

div.codexDetails div.craftingRecipesContainer div.craftingRecipesDemo div.craftingContainer div.inventoryItem,
div.codexDetails div.craftingRecipesContainer div.craftingRecipesDemo div.craftingHistoryContainer div.inventoryItem
{
	position:relative;
}

div.codexDetails div.craftingRecipesContainer div.craftingRecipesDemo div.craftingContainer div.craftingBG
{
	z-index:0;
}

div.codexDetails div.craftingRecipesContainer div.craftingRecipesDemo div.craftingArrow, 
div.codexDetails div.craftingRecipesContainer div.craftingRecipesDemo div.craftingCost
{
	line-height:initial;
}


div.codexDetails div.craftingRecipesContainer div.craftingRecipesDemo div.craftingHistoryContainer
{
	float:left;
	width:132px;
	height:132px;
}


div.codexDetails div.craftingRecipesContainer div.craftingRecipesDemo div.craftingHistoryContainer div.craftingHCBG
{
	z-index: 0;
	position: absolute;
	width: 132px;
	height: 132px;
	background-color: #000;
	font-family: icons;
	font-size: 128px;
	line-height: 132px;
	color: #FFF;
	opacity: 0.1;
}

/************/

div.codexDetails div.cc3x3 div.craftingRecipesDemo
{
	height: 132px;
}

div.codexDetails div.cc3x3 div.craftingRecipesList
{
	height: 396px;
}

div.codexDetails div.cc4x4 div.craftingRecipesDemo
{
	height: 176px;
}

div.codexDetails div.cc4x4 div.craftingRecipesList
{
	height: 350px;
}

div.codexDetails div.cc5x5 div.craftingRecipesDemo
{
	height: 220px;
}

div.codexDetails div.cc5x5 div.craftingRecipesList
{
	height: 306px;
}

/************/

div.codexCraftingLink, div.codexCraftingShow
{
	position:relative;
	width:22px;
	height:22px;
	float:left;
	font-family:icons;
	
	color:#fc6500;
	
	font-size: 18px;
	text-align: center;
	line-height: 24px;
	margin-top: 4px;
	
	text-shadow: 
		1px 1px 0 rgba(0,0,0,1), 
		1px -1px 0 rgba(0,0,0,1), 
		-1px 1px 0 rgba(0,0,0,1), 
		-1px -1px 0 rgba(0,0,0,1), 
		1px 1px 0 rgba(0,0,0,1), 
		1px -1px 0 rgba(0,0,0,1), 
		-1px 1px 0 rgba(0,0,0,1), 
		-1px -1px 0 rgba(0,0,0,1), 
		0px 3px 7px rgba(0,0,0,0.5);
	
	cursor:pointer;
}

div.codexCraftingLink:HOVER, div.codexCraftingShow:HOVER
{
	color:#0065fc;
}

div.codexCraftingDisabled, div.codexCraftingDisabled:HOVER
{
	color:#C0C0C0;
}

div.codexCraftingLink:BEFORE
{
	content:"\f0c1";
}

div.codexCraftingShow:BEFORE
{
	content:"\f05a";
}