div.codexDetails div.consoleParameterFilterListItem
{
	width: 624px;
	margin: 8px;
	margin-bottom: 0px;
	height: 24px;
	
	margin-bottom: 16px;
	height: initial;
	border-bottom: 1px solid #FFF;
}

div.codexDetails div.consoleParameterFilterListItem div.consoleParameterFilterListItemMatch
{
	width:616px;
	margin-left:8px;
	margin-bottom:2px;
	font-size:16px;
	height:24px;
	line-height:24px;
	font-family:sans-serif;
	font-weight:bold;
	color:#CE550B;
	
	
}

div.codexDetails div.consoleParameterFilterListItem div.consoleParameterFilterListItemDetails
{
	width:616px;
	margin-left:8px;
	margin-bottom:2px;
	font-size:16px;
	height:24px;
	line-height:24px;
	font-family:sans-serif;
	height: initial;
}