div.codexDetails div.versionRow
{
	width :640px;
	height:initial;
	cursor:pointer;
}

div.codexDetails div.versionLabel
{
	float:left;
	width:498px;
	margin:8px;
	margin-bottom:0px;
	height: initial;
	
	font-size:18px;
	height:24px;
	line-height:24px;
	font-family:sans-serif;
	font-weight:bold;
	
	text-align:left;
	
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}

div.codexDetails div.versionValue
{
	float:left;
	width:118px;
	margin:8px;
	margin-left:0px;
	margin-bottom:0px;
	height: initial;
	
	font-size:18px;
	height:24px;
	line-height:24px;
	font-family:sans-serif;
	
	text-align: right;
	
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}

div.codexDetails div.versionTitle
{
	float:left;
	width:621px;
	margin:8px;
	margin-top: 32px;
	margin-bottom: 0px;
	height: initial;
	
	font-size:24px;
	height:32px;
	line-height:32px;
	font-family:sans-serif;
	font-weight:bold;
	
	text-align:left;
}

div.codexDetails div.versionPropertiesLabel
{
	float:left;
	width:308px;
	margin:8px;
	margin-bottom:0px;
	height: initial;
	
	font-size:18px;
	height:24px;
	line-height:24px;
	font-family:sans-serif;
	
	text-align:left;
	
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}

div.codexDetails div.versionPropertiesValue
{
	float:left;
	width:308px;
	margin:8px;
	margin-left:0px;
	margin-bottom:0px;
	height: initial;
	
	font-size:18px;
	height:24px;
	line-height:24px;
	font-family:sans-serif;
	
	text-align: left;
	
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}